DATABASE_URL="postgresql://postgres:postgres@localhost:5432/ferreteria_erp?schema=public"
JWT_SECRET="replace-with-a-long-random-secret-at-least-32-characters"
PORT=4000
NODE_ENV=development
FRONTEND_URL=http://localhost:5173
